body, html {
  margin: 0;
  padding: 12px;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #161718;
  color: rgb(231, 229, 225)
}

.dashboard-widget-container {
  display: flex;
  gap: '20px';
  margin-bottom: 20px;
  justify-content: space-between;

}